<div class="main top-main">
    <div class="top-message">
        <h1>コーヒーで日常を豊かに</h1>
        
        <p> コーヒーにまつわるこんな名言があります。<br>
            <b>「コーヒーは問題は解決しないが、先延ばしにすることができる。」</b><br>
            眠い時、コーヒーを飲めばスッキリできる。<br>
            会議が詰まった時、コーヒーを飲めばメンバーをリラックスさせることができる。<br>

            問題は解決しないけど、何かその瞬間を良いものにしてくれる。そんな可能性を秘めているのがコーヒーです。<br>
        <br>みなさんも一緒にコーヒーで日常を豊かにしていきましょう。
        </p>
    </div>
</div>